@import './../App.module.scss';

.card {
	background-color: #fff;
	color: black;
	padding: 0.5rem;
	margin: 0.5rem 0;
	border-radius: $radius;
	text-align: center;
	position: relative;

	p {
		width: 100%;
		overflow: hidden;
	}

	.del {
		cursor: pointer;
		position: absolute;
		font-size: 1.3rem;
		line-height: 1rem;

		display: none;
		top: 0;
		right: 0.2rem;
	}

	&:hover {
		cursor: grab;
		.del {
			display: block;
		}
	}
}
